/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
header {
  padding-bottom: 200px;
}

.header__nav__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.header__nav__wrap .header__logo {
  width: 200px;
}
@media (min-width: 600px) {
  .header__nav__wrap {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
  }
}

.header__nav {
  display: none;
}
@media (min-width: 900px) {
  .header__nav {
    display: block;
  }
}
.header__nav ul {
  display: flex;
  list-style-type: none;
}
.header__nav ul li + li {
  margin-left: 2rem;
}
.header__nav ul a {
  text-decoration: none;
  color: black;
}

.header__burger {
  margin-top: -35px;
  margin-bottom: 4rem;
}
@media (min-width: 900px) {
  .header__burger {
    display: none;
  }
}
@media (min-width: 600px) {
  .header__burger {
    margin: 0;
  }
}
.header__burger:hover {
  cursor: pointer;
}
.header__burger:hover .orange {
  animation: flash 0.8s infinite;
}
.header__burger:hover .blue {
  animation: flash 0.8s 0.2s infinite;
}
.header__burger:hover .pink {
  animation: flash 0.8s 0.4s infinite;
}
.header__burger div {
  width: 30px;
  height: 4px;
}
.header__burger div + div {
  margin-top: 6px;
}

.orange {
  background-color: #ffb067;
}

.blue {
  background-color: #68c1d3;
}

.pink {
  background-color: #f5a4c1;
}

.yellow {
  background-color: #f6d935;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header__banner {
  width: 80%;
  margin: 0 auto;
  max-width: 600px;
  position: relative;
}
@media (min-width: 1200px) {
  .header__banner {
    max-width: 1200px;
  }
}

.header__banner__img_wrap {
  position: relative;
  margin-bottom: 15%;
}
@media (min-width: 1200px) {
  .header__banner__img_wrap {
    width: 48%;
  }
}
@media (min-width: 800px) {
  .header__banner__img_wrap {
    margin-bottom: 0;
  }
}

.image__background {
  position: absolute;
  z-index: -19;
  height: 110%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: radial-gradient(at top right, #ffb067, #f5a4c1);
}
@media (min-width: 1200px) {
  .image__background {
    height: 70%;
    top: 40%;
    left: 40px;
  }
}

.image__text {
  display: none;
  position: absolute;
  top: 10%;
  left: 110%;
  width: 100%;
}
@media (min-width: 1200px) {
  .image__text {
    display: block;
  }
}
.image__text p {
  font-size: 4.5rem;
  color: #68c1d3;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.2;
}

.header__banner__items {
  display: flex;
  flex-direction: column;
}
@media (min-width: 800px) {
  .header__banner__items {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .header__banner__items {
    position: absolute;
    bottom: -5%;
    left: 30%;
    width: 80%;
  }
}

.item {
  padding: 1rem 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 800px) {
  .item {
    flex: 1 1 50%;
  }
}
@media (min-width: 1000px) {
  .item {
    flex: 1 1 auto;
  }
}

.review {
  background-color: #68c1d3;
  color: white;
  padding: 8rem 0;
}
.review .review__wrap {
  width: 90%;
  margin: 0 auto;
  padding: 0 1.5rem;
}
@media (min-width: 800px) {
  .review .review__wrap {
    width: 70%;
    max-width: 1100px;
  }
}
.review .review__wrap h2 {
  font-size: 2.25rem;
}
.review .flex__wrap {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 800px) {
  .review .flex__wrap {
    flex-direction: row;
  }
}
.review .review__decoration {
  margin-bottom: 2rem;
  height: 3px;
  width: 100px;
  background-color: white;
}
@media (min-width: 800px) {
  .review .review__decoration {
    margin-top: 3px;
    margin-right: 3.8rem;
  }
}
@media (min-width: 800px) {
  .review .review__p {
    width: 58%;
    font-size: 1.125rem;
  }
}

.about {
  padding-bottom: 200px;
}

.about__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}
.about__wrap h2,
.about__wrap h3 {
  margin-bottom: 2.5rem;
}

.about__grid_wrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem 0;
  width: 80%;
  margin: 0 auto;
  grid-template-areas: "one" "two" "img1" "img2" "img3";
}
@media (min-width: 800px) {
  .about__grid_wrap {
    width: 86%;
    gap: 2rem 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "one two" "img1 img2" "img3 img3";
  }
  .about__grid_wrap .card__one,
.about__grid_wrap .card__two {
    text-align: left;
  }
}
@media (min-width: 1000px) {
  .about__grid_wrap {
    grid-template-columns: 1fr 1fr 2fr;
    gap: 0 2rem;
    grid-template-areas: "one two img3" "img1 img2 img3";
  }
  .about__grid_wrap .img__one,
.about__grid_wrap .img__two {
    align-self: end;
  }
  .about__grid_wrap .card__one,
.about__grid_wrap .card__two {
    align-self: center;
    text-align: left;
  }
}

.card__one {
  grid-area: one;
}

.card__two {
  grid-area: two;
}

.img__one {
  grid-area: img1;
}

.img__two {
  grid-area: img2;
}

.img__three {
  grid-area: img3;
}

.about__info_card {
  text-align: center;
  padding: 0 2rem;
}

.icon__wrap {
  background-color: #68c1d3;
  width: 100px;
  height: 100px;
  margin: 0 auto 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
@media (min-width: 800px) {
  .icon__wrap {
    margin: 0 0 1.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
