@use "../abstracts";

.modal__backdrop {
  opacity: 0;
  position: fixed;
  pointer-events: none;
  transition: opacity 0.5s ease-in;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(black, 0.8);
  @include abstracts.mq(900px) {
    display: none;
  }
}

.darken {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: fixed;
  transform: translateY(5000px);
  transition: transform 0.2s ease-in;
  z-index: 12;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  background-color: abstracts.$orange;
  border-radius: 50px 50px 0 0;
  .modal__list-wrap {
    position: relative;
    .close {
      width: 45px;
      position: absolute;
      top: 50px;
      right: 20px;
    }
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5rem;
      a {
        display: block;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
  @include abstracts.mq(900px) {
    display: none;
  }
}

.slide-up {
  transform: translateY(0);
}

header {
  padding-bottom: 200px;
}

.header__nav__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  .header__logo {
    width: 200px;
  }
  @include abstracts.mq(600px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
  }
}

.header__nav {
  display: none;
  @include abstracts.mq(900px) {
    display: block;
  }
  ul {
    display: flex;
    list-style-type: none;
    li + li {
      margin-left: 2rem;
    }
    a {
      text-decoration: none;
      color: black;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

.header__burger {
  @include abstracts.mq(900px) {
    display: none;
  }
  margin-top: -35px;
  margin-bottom: 4rem;
  @include abstracts.mq(600px) {
    margin: 0;
  }
  &:hover {
    cursor: pointer;
    .orange {
      animation: flash 0.8s infinite;
    }
    .blue {
      animation: flash 0.8s 0.2s infinite;
    }
    .pink {
      animation: flash 0.8s 0.4s infinite;
    }
  }
  @media (hover: none) {
    .orange {
      animation: flash 0.8s infinite;
    }
    .blue {
      animation: flash 0.8s 0.2s infinite;
    }
    .pink {
      animation: flash 0.8s 0.4s infinite;
    }
  }
  div {
    width: 30px;
    height: 4px;
  }
  div + div {
    margin-top: 6px;
  }
}

.orange {
  background-color: abstracts.$orange;
}
.blue {
  background-color: abstracts.$bBlue;
}
.pink {
  background-color: abstracts.$hPink;
}

.yellow {
  background-color: abstracts.$yellow;
}

@keyframes flash {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header__banner {
  width: 80%;
  margin: 0 auto;
  max-width: 600px;
  position: relative;
  @include abstracts.mq(1200px) {
    max-width: 1200px;
  }
}
.header__banner__img_wrap {
  position: relative;
  margin-bottom: 15%;
  @include abstracts.mq(1200px) {
    width: 48%;
  }
  @include abstracts.mq(800px) {
    margin-bottom: 0;
  }
}

.image__background {
  position: absolute;
  z-index: -19;
  height: 110%;
  width: 100%;
  @include abstracts.mq(1200px) {
    height: 70%;
    top: 40%;
    left: 40px;
  }
  top: 0;
  left: 0;
  background-image: radial-gradient(
    at top right,
    abstracts.$orange,
    abstracts.$hPink
  );
}
.image__text {
  display: none;
  @include abstracts.mq(1200px) {
    display: block;
  }
  position: absolute;
  top: 10%;
  left: 110%;
  width: 100%;
  p {
    font-size: 4.5rem;
    color: abstracts.$bBlue;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.2;
  }
  .image__text__subparagraph {
    margin-top: 4rem;
    font-size: 2rem;
    color: black;
  }
}

.header__banner__items {
  display: flex;
  flex-direction: column;
  @include abstracts.mq(800px) {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  @include abstracts.mq(1200px) {
    position: absolute;
    bottom: -5%;
    left: 30%;
    width: 80%;
  }
}

.item {
  padding: 1rem 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include abstracts.mq(800px) {
    flex: 1 1 50%;
  }
  @include abstracts.mq(1000px) {
    flex: 1 1 auto;
  }
}
