@use '../abstracts';

.review {
  background-color: abstracts.$bBlue;
  color: white;
  padding: 8rem 0;

  .review__wrap {
    width: 90%;
    @include abstracts.mq(800px) {
      width: 70%;
      max-width: 1100px;
    }
    margin: 0 auto;
    padding: 0 1.5rem;

    h2 {
      font-size: 2.25rem;
    }
  }

  .flex__wrap {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    @include abstracts.mq(800px) {
      flex-direction: row;
    }
  }

  .review__decoration {
    margin-bottom: 2rem;
    @include abstracts.mq(800px) {
      margin-top: 3px;
      margin-right: 3.8rem;
    }
    height: 3px;
    width: 100px;
    background-color: white;
  }
  .review__p {
    @include abstracts.mq(800px) {
      width: 58%;
      font-size: 1.125rem;
    }
  }
}

.about__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

.about__grid_wrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem 0;
  width: 80%;
  margin: 0 auto;
  @include abstracts.mq(800px) {
    gap: 2rem 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "one two"
      "img1 img2"
      "img3 img3";
  }
  @include abstracts.mq(1000px) {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas:
      "one two img3"
      "img1 img2 img3";
  }
}

.card__one {
  grid-area: one;
}
.card__two {
  grid-area: two;
}

.img__one {
  grid-area: img1;
}

.img__two {
  grid-area: img2;
}

.img__three {
  grid-area: img3;
}

//  break points needed 800px = 2col 1000 = 3 col

.about__info_card {
  text-align: center;
  padding: 0 2rem;
}

.icon__wrap {
  background-color: abstracts.$bBlue;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
